<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.ICompilationUnit"
            id="com.inepex.classtemplater.plugin.objectContribution1">
         <menu
               label="classtemplater"
               path="additions"
               id="com.inepex.classtemplater.plugin.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Generate..."
               class="com.inepex.classtemplater.plugin.popup.actions.Generator"
               menubarPath="com.inepex.classtemplater.plugin.menu1/group1"
               enablesFor="+"
               id="com.inepex.classtemplater.plugin.action1">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.inepex.classtemplater.plugin.objectContribution2"
            objectClass="org.eclipse.jdt.core.IField">
         <menu
               id="com.inepex.classtemplater.plugin.menu2"
               label="classtemplater"
               path="additions">
            <separator
                  name="group2">
            </separator>
         </menu>
         <action
               class="com.inepex.classtemplater.plugin.popup.actions.Generator"
               enablesFor="+"
               id="com.inepex.classtemplater.plugin.action1"
               label="Generate..."
               menubarPath="com.inepex.classtemplater.plugin.menu2/group1">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.inepex.classtemplater.plugin.objectContribution3"
            objectClass="org.eclipse.jdt.core.IMethod">
         <menu
               id="com.inepex.classtemplater.plugin.menu3"
               label="classtemplater"
               path="additions">
            <separator
                  name="group3">
            </separator>
         </menu>
         <action
               class="com.inepex.classtemplater.plugin.popup.actions.Generator"
               enablesFor="+"
               id="com.inepex.classtemplater.plugin.action1"
               label="Generate..."
               menubarPath="com.inepex.classtemplater.plugin.menu3/group3">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            category="classtemplater"
            categoryId="org.eclipse.ui.category.navigate"
            id="com.inepex.classtemplater.commands.generate"
            name="Classtemplater generator">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.inepex.classtemplater.plugin.popup.actions.GeneratorHandler"
            commandId="com.inepex.classtemplater.commands.generate">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.inepex.classtemplater.commands.generate"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+i M1+c">
      </key>
   </extension>

</plugin>
